<form class="form-horizontal" id="settings_plugin_telegram">
	<h3>Telegram settings</h3>
	<div class="control-group">
		<label class="control-label">{{ _('Telegram Token') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.telegram.token" />
			<span class="help-block">You can get this by creating a bot on telegram.</span>
			<span class="help-block">The connection status at the time of opening the settings was:
				<span data-bind="text: connection_state_str"></span>
			</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Chat-ID') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.telegram.chat" />
			<span class="help-block">Which chat to use. Currently known chats are:
				<ul data-bind="foreach: listHelper.paginatedItems">
					<li><span data-bind="text: id"></span> - <span data-bind="text: name"></span></li>
				</ul>
			</span>
		</div>
	</div>

	<h4>Notification settings</h4>
	<div class="control-group">
		<label class="control-label">{{ _('Send notification every') }}</label>
		<div class="controls">
			<div class="input-append">
				<input type="number" step="any" min="0.0" class="input-mini text-right" data-bind="value: settings.settings.plugins.telegram.notification_height" />
				<span class="add-on">mm</span>
			</div>
			<div class="input-append">
				<input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: settings.settings.plugins.telegram.notification_time" />
				<span class="add-on">min</span>
			</div>
			<span class="help-block">Sends a message after layer height changed by this height or this many minutes passed since the last notification. Set to 0 to disable.</span>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.settings.plugins.telegram.message_at_print_started" />
				Send a notification when a new print hast started.
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.settings.plugins.telegram.message_at_print_done" />
				Send a notification when a print has finished.
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.settings.plugins.telegram.message_at_print_failed" />
				Send a notification when a print has failed or has been cancelled.
			</label>
		</div>
	</div>

	<h4>Messages</h4>
	<div class="control-group">
		<label class="control-label">{{ _('Message at print start') }}</label>
		<div class="controls">
			<textarea rows="4" class="block" data-bind="value: settings.settings.plugins.telegram.messages.PrintStarted"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Message at print finished') }}</label>
		<div class="controls">
			<textarea rows="4" class="block" data-bind="value: settings.settings.plugins.telegram.messages.PrintDone"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Message at print failure') }}</label>
		<div class="controls">
			<textarea rows="4" class="block" data-bind="value: settings.settings.plugins.telegram.messages.PrintFailed"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Message at new height') }}</label>
		<div class="controls">
			<textarea rows="4" class="block" data-bind="value: settings.settings.plugins.telegram.messages.ZChanged"></textarea>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Message for /status when not printing') }}</label>
		<div class="controls">
			<textarea rows="4" class="block" data-bind="value: settings.settings.plugins.telegram.messages.TelegramSendNotPrintingStatus"></textarea>
		</div>
	</div>
	
</form>