<form class="form-horizontal" id="settings_plugin_telegram">
	<h3>Telegram settings</h3>
	<p>If you don't know what to enter in this section, please have a look at <a href="https://github.com/fabianonline/OctoPrint-Telegram/blob/stable/README.md">the documentation at github</a>.</p>
	<p>The current connection status is: <strong data-bind="text: connection_state_str"></strong></p>
	<div class="control-group">
		<label class="control-label">{{ _('Telegram Token') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" id="settings_plugin_telegram_token" data-bind="value: settings.settings.plugins.telegram.token" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Test Token') }}</label>
		<div class="controls">
			<span class="help-block"><button class="btn" data-bind="click: testToken, visible: ! isloading()"><i class="icon-key"></i>&nbsp;Test this token</button></span>
			<span class="help-block" data-bind="if: token_state_str || isloading()">Token status is:
				<strong data-bind="text: token_state_str, visible: ! isloading()"></strong>
				<strong data-bind="if: isloading">Testing the token, please wait...</strong>
			</span>
		</div>
	</div>
	<h4>Known Chats</h4>
	<table class="table table-condensed table-hover">
	    <thead>
		    <tr>
		        <th class="settings_users_name">Chat</th>
		        <th class="settings_users_active" style="width:70px;">Command</th>
		        <th class="settings_users_active">Notify</th>
		        <th class="settings_users_actions">{{ _('Action') }}</th>
		    </tr>
	    </thead>
	    <tbody data-bind="foreach: chatListHelper.paginatedItems">
		    <tr>
		        <td class="settings_users_name">
		        	<div style="float:left;padding:0px 5px 0px 0px;margin:0px;position:relative;" >
		        		<div style ="float:left;position:absolute;left:-4px;top:-4px;z-index:1001;padding:0px;">
		        			<i style="color:orangered;borde:1px;" data-bind="css: { 'icon-star': newUsr}" ></i>
		        		</div>
		        		<div style ="float:left;position:absolute;left:-3px;top:-3px;z-index:1000;padding:0px;">
		        			<i style="color:gainsboro;borde:1px;" data-bind="css: { 'icon-star': newUsr}" ></i>
		        		</div>
		        		<img data-bind="attr: {'id': 'IMAGE_' + id}" width="40px" height="40px" style="border-radius: 50%;">
		        	</div>
		        	<div>
			        	<i data-bind="css: {'icon-user': private, 'icon-group': !private}"></i>&nbsp;
			        	<span data-bind="text: title"></span>
			        	<span class="muted" data-bind="visible: true"><br />
			        		<small>ID: <span data-bind="text: id"></span> | <span data-bind="text: private?'PRIVATE':'GROUP'">GROUP</span></small>
			        	</span>
		        	</div>
		   		</td>
		        <td class="settings_users_active" style="width:60px;">
		        	<span data-bind="visible: !newUsr">
			        	<a href="#" data-bind="visible: accept_commands , click: function() {$root.showEditCmdDialog($data,'commands');}" style="text-decoration:none">
			        		<i data-bind="css: { 'icon-check': true}"></i>
			        	</a>
			        	<span data-bind="visible: !accept_commands"><i data-bind="css: { 'icon-check-empty': true}"></i></span>
		        	</span>
		        	<span data-bind="visible: newUsr">
			        	<span class="muted" ><small>Save</small></span>
			        </span>
		        </td>
		        <td class="settings_users_admin">
		        	<span data-bind="visible: !newUsr">
			        	<a href="#" data-bind="visible: send_notifications , click: function() {$root.showEditCmdDialog($data,'notifications');}" style="text-decoration:none">
			        		<i data-bind="css: { 'icon-check': true}"></i>
			        	</a>
			        	<span data-bind="visible: !send_notifications"><i data-bind="css: { 'icon-check-empty': true}"></i></span>
			        </span>
		        	<span data-bind="visible: newUsr">
			        	<span class="muted" ><small>first</small></span>
			        </span>
		        </td>
		        <td class="settings_users_actions">
		        	<span data-bind="visible: !newUsr">
			            <a href="#" class="icon-pencil" title="{{ _('Update User') }}" data-bind="click: function() { $root.showEditChatDialog($data);}"></a>&nbsp;|&nbsp;
			        </span>
			        <span data-bind="visible: newUsr">
			        	<span class="muted" ><small>or&nbsp;&nbsp;</small></span>
			        </span>
			        <a href="#" class="icon-trash" title="{{ _('Delete user') }}" data-bind="click:  function() { $root.delChat($data);}"></a>

			        
		        </td>
		    </tr>
	    </tbody>
	</table>

	<div class="control-group">
		<label class="control-label">{{ _('Refresh Chat List') }}</label>
		<div class="controls">
		<div style="float:left;">
			<button class="btn" data-bind="click: function (){ $root.requestData(true); }"><i class="icon-refresh"></i>&nbsp;&nbsp;{{ _('Reload') }}</button> &nbsp;&nbsp;&nbsp; 

			</div>
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" data-bind="checked: reloadUsr" /> <span>Enable auto refresh (20 sec.)</span>	
					</label>
				</div>
			
			<span class="help-block"><small>Press this button or enable auto refresh after you send an initial random message to the bot.<br>
			Your chat will then appear in the list.<br>
			Don't forget to press 'Save' on settings dialog otherwise the new chat will disappear on restart of octoprint.</small></span>
		</div>
	
	</div>
 	<div class="control-group">


		<h4>Notification settings</h4>
		<div class="control-group">
			<label class="control-label">{{ _('Send notification every') }}</label>
			<div class="controls">
				<div class="input-append">
					<input type="number" step="any" min="0.0" class="input-mini text-right" data-bind="value: settings.settings.plugins.telegram.notification_height" />
					<span class="add-on">mm</span>
				</div>
				<div class="input-append">
					<input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: settings.settings.plugins.telegram.notification_time" />
					<span class="add-on">min</span>
				</div>
				<span class="help-block"><small>Sends a message after layer height changed by this height or this many minutes passed since the last notification. Set to 0 to disable.</small></span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">{{ _('Delay for finished prints notification') }}</label>
			<div class="controls">
				<div class="input-append">
					<input type="number" step="any" min="0.0" class="input-mini text-right" data-bind="value: settings.settings.plugins.telegram.message_at_print_done_delay" />
					<span class="add-on">s</span>
				</div>
				<span class="help-block"><small>Wait this many seconds after a print has finished before sending a notification. This can be useful to wait
					for the head and bed to reach their final positions. Set to 0 to disable.</small></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">{{ _('Send Emojis') }}</label>
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.settings.plugins.telegram.send_icon" /> check to enable emojis
				</label>
			</div>
		</div>

		<h4>Messages for...</h4>
		<div id="telegram_msg_list"></div>


		<h4>Stuff</h4>
		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.settings.plugins.telegram.tracking_activated" />
					Allow this plugin to send anonymous usage data.
				</label>
				<span class="help-block"><small>I'd like to know how many people are using this plugin and how it is used. So I implemented a method to report
				anonymous usage data back to me. That data doesn't contain any private information, just generic things like "the plugin was started" or
				"a print finished notification has been sent". That feature is off by default. If you leave it off, no data of any kind will be sent back
				to me.</small></span>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.settings.plugins.telegram.debug" />
					Enable logging of debug information for this plugin to octoprint.log
				</label>
			</div>
		</div>
	</div>	
</form>


<div id="settings-telegramDialogEditChat" class="modal hide fade">
    <div class="modal-header">
        <!--<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>-->
        <h3>Edit: <span data-bind="text: currChatTitle"></span></h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                    	<span id="telegram-acccmd-chkbox"></span>
                        <span class="help-block"><small id="telegram-groupNotify-hint"></small></span>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                    	<span id="telegram-notify-chkbox"></span>
                    </label>
                </div>
            </div>
            
        </form>
    </div>
    <div class="modal-footer">
        <!--<button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Abort') }}</button>-->
        <button class="btn btn-primary" data-bind="click: updateChat">{{ _('Close') }}</button>
    </div>
</div>


<div id="settings-telegramDialogEditCommands" class="modal hide fade">
    <div class="modal-header">
        <!--<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>-->
        <h3><span data-bind="text: currChatTitle"></span></h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" >
            <div class="control-group">
            	<label class="control-label" id="tele-edit-control-label"></label>
                <div class="controls" id="telegram-cmd-chkbox-grp">
                    
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</button>
    </div>
</div>
